# https://zenn.dev/kazumax4395/articles/643ffc25d3f803
NEXT_PUBLIC_FRONT_URL=https://www.yurikago-blog.com
NEXT_PUBLIC_GITHUB_ID=krabben16
NEXT_PUBLIC_GITHUB_URL=https://github.com/krabben16/yurikago_next
NEXT_PUBLIC_ARTICLE_ORGANIZATION=Yurikago Blog
NEXT_PUBLIC_SITE_NAME=Yurikago Blog
NEXT_PUBLIC_DISQUS_SHORTNAME=yurikago-blog
NEXT_PUBLIC_GA_TRACKING_ID=UA-155216702-1
