@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

.nav a {
  text-decoration: none;
}

.postListItem a {
  text-decoration: none;
}

.postContent blockquote {
  overflow-wrap: break-word;
}

.postContent code {
  font-weight: initial;
  font-size: initial;
  @apply bg-gray-200 border-2 border-gray-400 border-dashed rounded px-1;
}

.postContent code::before,
.postContent code::after {
  content: initial;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
